*{
    box-sizing: border-box;
}

.one{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 400px;
    padding-right: 400px;
}

#logo, 
#onetitle{
    color: #F9FAF8;
}

#onetitle{
    font-size: 48px;
    font-weight: bold;
}

#logo{
    font-size: 24px;
}

#Nav,
#onebody{
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.firstmeat{
    display: flex;
}

#oneleft{
    display: flex;
    flex-direction: column;
    width: 548px;
}

#oneright{
    display: flex;
    width: 548px;
}
#onebutton{
    border-radius: 8px;
    width: 70px;
    height: 20px;
    background-color: #3882F6;
}